@model FirstWebApplication.Models.ForgotPassword
@{
    ViewBag.Title = "ForgotPassword";
}

@section scripts{
    @Styles.Render("~/Content/LoginStyle.css")

    <link href="~/Content/menu.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/ModalPopup.css" />
}

<div class="wrapper">
    <div class="logo">
        <img src="~/Image/TIS.png" alt="">
    </div>
    <br />
    <div class="text-center mt-4 name">
        The Imperial Spice
    </div>
    <br />
    <div class="text-center mt-4 name">
        Reset Password
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    else if (ViewBag.ForgotPassword != null)
    {
        <div class="alert alert-success" role="alert">
            You can reset the Password with link send to you Email..
        </div>
    }
    @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
    {
        @Html.ValidationMessageFor(s => s.UserName, "", new { @class = "text-danger" })
        <div class="form-field d-flex align-items-center" style="display : flex">
            <span style="margin:auto">
                <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            @*<input type="text" name="userName" id="userName" placeholder="Username">*@
            @Html.TextBoxFor(s => s.UserName, new { @class = "", placeholder = "Enter User name...", @readonly = "readonly" })
        </div>

        @Html.ValidationMessageFor(s => s.Password, "", new { @class = "text-danger" })
        <div class="form-field d-flex align-items-center" style="display : flex">
            <span class="fas fa-key" style="margin:auto"></span>
            @*<input type="password" name="password" id="pwd" placeholder="Password">*@
            @Html.PasswordFor(s => s.Password, new { @class = "", placeholder = "Enter Password..." })
        </div>

        @Html.ValidationMessageFor(s => s.ConfirmPassword, "", new { @class = "text-danger" })
        <div class="form-field d-flex align-items-center" style="display : flex">
            <span class="fas fa-key" style="margin:auto"></span>
            @*<input type="password" name="password" id="pwd" placeholder="Password">*@
            @Html.PasswordFor(s => s.ConfirmPassword, new { @class = "", placeholder = "Enter Confirm Password..." })
        </div>


        <button type="submit" value="register" class="btn mt-3">Reset</button>
    }

</div>


