<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand" style="padding-top:0px">
                    <img src="~/Image/TIS.png" class="img-responsive" style="height:51px" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["UserId"] == null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Register", "Index", "User")</li>
                            <li>@Html.ActionLink("Login", "Index", "UserLogin")</li>
                            <li>@Html.ActionLink("Dashboard", "DashBoard", "UserLogin")</li>
                        </ul>
                    </div>
                }
                @if (Session["UserId"] != null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Dashboard", "DashBoard", "UserLogin")</li>
                        </ul>
                        <div style="float:right;">
                            <ul class="nav navbar-nav" style="color:white;">
                                <li style="padding:15px;border:1px">Welcome @Session["UserName"]</li>
                                <li>
                                    <a href="@Url.Action("LogOut", "UserLogin")" class="btn">
                                        Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer">
        <hr style="margin:0px" />
        <p style="text-align:center;margin:0px">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
