@model FirstWebApplication.MenuDetail
@{
    ViewBag.Title = "Add";
}

@section Scripts
{
    @Styles.Render("~/Content/sliderCheckBox.css")
    @Scripts.Render("~/bundles/jqueryval")

}
<div style="height: 100% ">
    <h2 style="color: #000000; background: rgb(255, 255, 255,0.5); padding: 4px; width: fit-content; border: 1px solid #ccc; border-radius: 16px; ">Add Item</h2>

    @using (Html.BeginForm("Add", "MenuItem", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group row">

            @Html.LabelFor(l => l.Name, new { @class = "col-sm-2 col-form-label", style = "color: #ffffff;" })
            <div class="col-sm-10">
                @Html.TextBoxFor(s => s.Name, new { @class = "", placeholder = "Enter Item name...", style = "margin-bottom : 7px" })
                @Html.ValidationMessageFor(s => s.Name, "", new { @class = "text-danger", style = "color: #ff0000;    background: rgb(255, 255, 255,0.5)" })
            </div>
            <br />

            @Html.LabelFor(l => l.Price, new { @class = "col-sm-2 col-form-label", style = "color: #ffffff;" })
            <div class="col-sm-10">
                @Html.TextBoxFor(s => s.Price, new { @class = "", placeholder = "Enter Price ...", style = "margin-bottom : 7px" })
                @Html.ValidationMessageFor(s => s.Price, "", new { @class = "text-danger", style = "color: #ff0000;    background: rgb(255, 255, 255,0.5)" })
            </div>

            <br />

            @Html.LabelFor(l => l.TypeID, new { @class = "col-sm-2 col-form-label", style = "color: #ffffff;" })
            <div class="col-sm-10">
                @Html.DropDownListFor(s => s.TypeID, new SelectList(ViewBag.mealTypes, "Value", "Text"), "---Select Type---", new { @class = "dropdown", style = "margin-bottom : 7px;height: 23px;width: 179px;" })
                @Html.ValidationMessageFor(s => s.TypeID, "", new { @class = "text-danger", style = "color: #ff0000;    background: rgb(255, 255, 255,0.5)" })
            </div>

            <br />

            @Html.LabelFor(l => l.Image, new { @class = "col-sm-2 col-form-label", style = "color: #ffffff;" })
            <div class="col-sm-10">
                <input id="ImageData" name="ImageData" type="file" accept="image/*" style="margin-bottom : 7px;color: #000000; background: rgb(255, 255, 255,0.5);" />
                @Html.ValidationMessageFor(s => s.Image, "", new { @class = "text-danger", style = "color: #ff0000;    background: rgb(255, 255, 255,0.5)" })
            </div>

            <br />

            @Html.LabelFor(l => l.Veg, new { @class = "col-sm-2 col-form-label", style = "color: #ffffff;" })
            <div class="col-sm-10">
                <label class="switch">
                    <input data-val="true" data-val-required="The Veg field is required." id="Veg" name="Veg" type="checkbox" value="true">
                    <span class="slider round"></span>
                </label>
            </div>

            <br />





            <div style="margin-left : 160px">
                <button type="submit" value="register" class="btn btn-primary">Submit</button>
            </div>

            <br />


        </div>
    }
</div>
